$primary-color: #ffeb00;
$secondary-color: #dd2a30;
$shadow: black;

h1 {
  color: $primary-color;
  text-transform: uppercase;
  text-shadow: -1px 0 $shadow, -1px 0 $shadow, 0 1px $shadow, 1px 0 $shadow,
    0 -1px $shadow, 1px 0px 0px $shadow, 2px 1px 0px $shadow,
    3px 2px 0px $shadow, 4px 3px 0px $shadow, 5px 4px 0px $shadow;
  letter-spacing: 3px;
  border-bottom: 5px solid $secondary-color;
}

div {
  display: inline-block;
  vertical-align: middle;
}

.template-puzzle-wrapper {
  width: 600px;
  height: 600px;
}

.puzzle-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 200px;
  margin: 10px;
}

.templateCells {
  border: 1px solid #c2ba3c;
  background: #f8ffde;
  width: 200px;
  height: 200px;
}
